.super-title {
	font-size: 50%;
	display: block;
	line-height: initial;
}

.alert {
	border-radius: 0px; 
}


.table tbody tr:hover{
  border-left: solid #3a3f51 3px;
}

.navi ul.nav li a {
	padding: 5px 20px;
}

.navi ul.nav li li a {
	padding-left: 20px;
}

.navbar-user {
	margin: 15px;
}